:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
}

.nav-links {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hide-links {
  display: none; /* Hide links when burger menu is open */
}

.header-box {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .header-box {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
}

.slick-prev,
.slick-next {
  background-color: #008496; /* Set the background color to red */
  border-radius: 50%; /* Make the arrow background circular, optional */
  height: 40px; /* Adjust the size of the arrows */
  width: 40px; /* Adjust the size of the arrows */
  z-index: 1; /* Ensure the arrows are above other content */
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #008496; /* Darken the background on hover */
}

.slick-prev:before,
.slick-next:before {
  color: white; /* Change the arrow color */
}

.tooltip {
  padding: 5px 10px;
  background-color: #008496;
  border-radius: 5px;
  color: white;
  line-height: 1.5;
  margin-left: 10px;
}

.ratioBox {
  background: #ffffff;
  box-shadow: -8px 8px 13px #848080, 8px -8px 13px #ffffff;
}

.MuiDialog-paper {
  max-width: 900px !important;
}
.animated-outline {
  position: relative;
  z-index: 1;
}

.vide-preview {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .vide-preview {
    width: 320px;
  }
}

/* App.css */
.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}

/* CardSmall.css */

.card-hover-enter {
  transform: scale(1);
}

.card-hover-enter-active {
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
}

.card-hover-exit {
  transform: scale(1.05);
}

.card-hover-exit-active {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
